.me {
  margin; 12px;
  border: 2px solid green;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: blue;
}

.daily {
  color: red;
  border: 2px solid green;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.highlight {
  font-style: italic;
}

.outdoor-type {
  font-style: oblique;
}
